<div class="alert alert-danger" role="alert" id="jd_error" style="display:none;">
    Something bad happened.
</div>
<div class="alert alert-success" role="alert" id="jd_success" style="display:none;">
    Something good happened.
</div>
<div class="alert alert-success" role="alert" id="jd_update_info" style="display:none;">
    There is an update for JDownloader available <a href="#" class="alert-link" onclick="invokeJDUpdate();">Click here to update JDownloader</a>.
</div>
<div class="alert alert-warning" role="alert" id="jd_warning" style="display:none;">
    There seems to be a problem with JDownloader. State should be "ready" but is "[TBD]"
</div>
<div class="alert alert-primary" role="alert" id="jd_updating" style="display:none;">
    JDownloader is updating and restarting, please wait.
</div>
<div class="alert alert-success" role="alert" id="jd_update_success" style="display:none;">
    JDownloader updated successfully and is back online.
</div>
