@page
@model MovieMoverCore.Pages.DownloadsModel
@{
    ViewData["Title"] = "Downloads";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(HttpContext).RequestToken;
    }
}

<!--

<button type="button" style="border-top-width: 0px;padding-top: 0px;margin-bottom: 8px;" class="btn btn-primary btn-sm">
                <img src="/img/bootstrap-reboot.svg" style="">
            </button>

-->

<input type="hidden" id="RequestVerificationToken"
       name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">


<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 style="display: inline">Downloads</h3>
            <button type="button" id="btnRestart" style="border-top-width: 0px;padding-top: 0px;margin-bottom: 8px; visibility:hidden" class="btn btn-primary btn-sm ml-5" onclick="restartDownloads()">
                <img src="/img/bootstrap-reboot.svg" style="">
            </button>
            <span id="dlspeed" class="ml-2"></span>
        </div>
    </div>
    <div>
        <div class="row" id="downloadCards">
            Loading Downloads...
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <input type="button" value="Movie" onclick="moveMovies();" class="btn btn-primary mx-2" />
            <input type="button" value="Series" onclick="showSeriesSelector();" class="btn btn-primary mx-2" />
            <input type="button" value="Delete" onclick="removeDownloads();" class="btn btn-danger mx-2" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Pending move operations</h3>
            <div id="moveOps" class="mx-3"></div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <h3>Crawled Packages</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <input type="button" value="Add (+)" onclick="showAddLinksModal();" class="btn btn-primary mx-2" />
            <input type="button" value="Start all" onclick="startAllPackagesDownload();" class="btn btn-primary mx-2" />
        </div>
    </div>
    <div id="pendingPackages" class="row">
    </div>
</div>

<!-- Series Selector Modal -->
<div class="modal fade" id="seriesSelectorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select Series</h5>
                <button type="button" class="close" data-dismiss="modal
     *
     *
     *
     *
     *
     * " aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 id="seriesMoverName"></h4>
                <form>
                    <div class="form-group">
                        <label for="seriesSelector">Series</label>
                        <select class="form-control" id="seriesSelector" onchange="updateSelectedSeason()"></select>
                    </div>
                    <div class="form-group">
                        <label for="season">Season</label>
                        <input type="number" id="season" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="moveSeries();">Move</button>
            </div>
        </div>
    </div>
</div>

<!-- No Series Selected Modal -->
<div class="modal fade" id="noSeriesSelected" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">No Series Selected</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please select a series to move first.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- No Movies Selected Modal -->
<div class="modal fade" id="noMoviesSelected" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">No Series Selected</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please select a movie to move first.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- No Download Selected Modal -->
<div class="modal fade" id="noDownloadsSelected" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">No Downloads Selected</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please select a download to remove first.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Links Modal -->
<div class="modal fade" id="addLinksModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Links</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="txtarea_links">Links</label>
                        <textarea rows="8" class="form-control" style="font-size:small;" id="txtarea_links"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addLinks();">Add</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        var refreshInterval = @Model.RefreshRate;
    </script>
    <script type="text/javascript" src="~/js/downloads.js"></script>
}
